
*.exe
*.exe~
*.dll
*.so
*.dylib


bin/
dist/

*.test
*.out
*.coverprofile
profile.cov

go.work
go.work.sum


.env
.env.*
!.env.example


.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

localstack